In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [3]:
#pip install sodapy

In [4]:
#pip install dnspython

In [5]:
#pip install pymongo

In [6]:
#pip install pymongo[srv]

In [7]:
import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.kcmo.org", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.kcmo.org,
#                  MyAppToken,
#                  username="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
#result_1 = client.get("dmjw-d28i", limit=200000)
#result_2 = client.get("pxaa-ahcm", limit=200000)
#result_3 = client.get("vsgj-uufz", limit=200000)
#result_4 = client.get("w795-ffu6", limit=200000)
#result_5 = client.get("x39y-7d3m", limit=200000)


# Convert to pandas DataFrame
#results_df_2018 = pd.DataFrame.from_records(result_1)
#results_df_2019 = pd.DataFrame.from_records(result_2)
#results_df_2020 = pd.DataFrame.from_records(result_3)
#results_df_2021 = pd.DataFrame.from_records(result_4)
#results_df_2022 = pd.DataFrame.from_records(result_5)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [8]:
#results_df_2018=results_df_2018.rename(columns={":@computed_region_kk66_ngf4": "computed_region_kk66_ngf4", ":@computed_region_9t2m_phkm": "computed_region_9t2m_phkm",":@computed_region_my34_vmp8":"computed_region_my34_vmp8",":@computed_region_w4hf_t6bp":"computed_region_w4hf_t6bp"})
#results_df_2019=results_df_2019.rename(columns={":@computed_region_kk66_ngf4": "computed_region_kk66_ngf4", ":@computed_region_9t2m_phkm": "computed_region_9t2m_phkm",":@computed_region_my34_vmp8":"computed_region_my34_vmp8",":@computed_region_w4hf_t6bp":"computed_region_w4hf_t6bp"})
#results_df_2020=results_df_2020.rename(columns={":@computed_region_kk66_ngf4": "computed_region_kk66_ngf4", ":@computed_region_9t2m_phkm": "computed_region_9t2m_phkm",":@computed_region_my34_vmp8":"computed_region_my34_vmp8",":@computed_region_w4hf_t6bp":"computed_region_w4hf_t6bp"})
#results_df_2021=results_df_2021.rename(columns={":@computed_region_kk66_ngf4": "computed_region_kk66_ngf4", ":@computed_region_9t2m_phkm": "computed_region_9t2m_phkm",":@computed_region_my34_vmp8":"computed_region_my34_vmp8",":@computed_region_w4hf_t6bp":"computed_region_w4hf_t6bp"})
#results_df_2022=results_df_2022.rename(columns={":@computed_region_kk66_ngf4": "computed_region_kk66_ngf4", ":@computed_region_9t2m_phkm": "computed_region_9t2m_phkm",":@computed_region_my34_vmp8":"computed_region_my34_vmp8",":@computed_region_w4hf_t6bp":"computed_region_w4hf_t6bp"})

In [2]:
import pymongo
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
import pandas as pd
import numpy as np

# USERNAME,PASSWORD FOR MONGO DB

In [3]:
client = pymongo.MongoClient("mongodb+srv://infotech_emre:O6iAdFUUJb764Wv1@cluster0.2kfd1pw.mongodb.net/?retryWrites=true&w=majority", server_api=ServerApi('1'))
db=client.get_database('Kansas')

In [11]:
#db["crime_record_2018"].insert_many(results_df_2018.to_dict('records'))
#db["crime_record_2019"].insert_many(results_df_2019.to_dict('records'))
#db["crime_record_2020"].insert_many(results_df_2020.to_dict('records'))
#db["crime_record_2021"].insert_many(results_df_2021.to_dict('records'))
#db["crime_record_2022"].insert_many(results_df_2022.to_dict('records'))

In [4]:
satir_sayisi_bilgi=db.crime_record_2018
satir_sayisi_bilgi.count_documents({})

128938

# DICTIONARY FROM MONGO DB TO DF

In [4]:
from pymongo import MongoClient
db = client.get_database('Kansas')
#########################################
collection_2018 = db["crime_record_2018"]
data = collection_2018.find()
df_18=pd.DataFrame.from_dict(data)

In [14]:
collection_2019 = db["crime_record_2019"]
data = collection_2019.find()
df_19=pd.DataFrame.from_dict(data)

In [15]:
collection_2020 = db["crime_record_2020"]
data = collection_2020.find()
df_20=pd.DataFrame.from_dict(data)

In [16]:
collection_2021 = db["crime_record_2021"]
data = collection_2021.find()
df_21=pd.DataFrame.from_dict(data)

In [17]:
collection_2022 = db["crime_record_2022"]
data = collection_2022.find()
df_22=pd.DataFrame.from_dict(data)

In [18]:
df_18.head()

,_id,report_no,reported_date,reported_time,from_date,from_time,to_date,to_time,offense,ibrs,...,involvement,firearm_used_flag,location,race,sex,age,computed_region_kk66_ngf4,computed_region_9t2m_phkm,computed_region_my34_vmp8,computed_region_w4hf_t6bp
0,63bdfc7ec5f54698ce86ab63,180038631,2018-05-23T00:00:00.000,10:37,2018-01-01T00:00:00.000,15:00,2018-05-22T00:00:00.000,16:15,690,23H,...,VIC,N,"{'human_address': '{""address"": ""4200 SCOTT RD""...",W,M,74,NaN,NaN,NaN,NaN
1,63bdfc7ec5f54698ce86ab61,180039506,2018-05-26T00:00:00.000,01:00,2018-05-26T00:00:00.000,01:00,NaN,NaN,2655,90J,...,VIC,N,"{'latitude': '39.09961', 'longitude': '-94.583...",W,M,31,5,4,7,75
2,63bdfc7ec5f54698ce86ab82,180017912,2018-03-08T00:00:00.000,07:59,2018-02-23T00:00:00.000,17:30,2018-03-08T00:00:00.000,07:00,502,220,...,SUS,N,"{'latitude': '39.132702', 'longitude': '-94.50...",U,U,NaN,53,4,7,144
3,63bdfc7ec5f54698ce86abcb,180023774,2018-03-30T00:00:00.000,15:51,2018-03-30T00:00:00.000,15:38,NaN,NaN,630,23C,...,VIC,N,"{'human_address': '{""address"": ""8500 STATE LIN...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,63bdfc7ec5f54698ce86abd8,180027697,2018-04-14T00:00:00.000,03:30,2018-04-13T00:00:00.000,23:51,NaN,NaN,101,09A,...,SUS,Y,"{'latitude': '39.001765', 'longitude': '-94.56...",B,M,NaN,96,2,7,151

In [19]:
df_19.head()

,_id,report_no,reported_date,reported_time,from_date,from_time,to_date,to_time,offense,ibrs,...,firearm_used_flag,race,sex,age,rep_dist,location,computed_region_kk66_ngf4,computed_region_9t2m_phkm,computed_region_my34_vmp8,computed_region_w4hf_t6bp
0,63bdff0ec5f54698ce88a318,KC19027236,2019-04-14T00:00:00.000,23:38,2019-04-14T00:00:00.000,23:22,NaN,NaN,City/Municipal Warrant Arrest,NaN,...,False,W,M,19,NaN,NaN,NaN,NaN,NaN,NaN
1,63bdff0ec5f54698ce88a308,KC19044451,2019-06-14T00:00:00.000,16:34,2019-06-14T00:00:00.000,16:30,2019-06-14T00:00:00.000,16:30,Stealing – Shoplift,23C,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,63bdff0ec5f54698ce88a312,KC19033005,2019-05-05T00:00:00.000,22:57,2019-05-05T00:00:00.000,22:03,2019-05-05T00:00:00.000,22:40,Stealing – Shoplift,23C,...,False,B,M,59,PJ3601,NaN,NaN,NaN,NaN,NaN
3,63bdff0ec5f54698ce88a30c,KC19076088,2019-10-04T00:00:00.000,13:59,2019-10-04T00:00:00.000,13:50,NaN,NaN,Recovered Stolen Auto,NaN,...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,63bdff0ec5f54698ce88a30d,KC19026328,2019-04-11T00:00:00.000,9:34,2019-04-11T00:00:00.000,10:03,NaN,NaN,Legacy Incident Report/Arrest,NaN,...,False,W,M,54,PJ1725,NaN,NaN,NaN,NaN,NaN

In [20]:
df_20.head()

,_id,report_no,reported_date,reported_time,from_date,from_time,offense,ibrs,description,beat,...,firearm_used_flag,to_date,to_time,rep_dist,age,location,computed_region_kk66_ngf4,computed_region_9t2m_phkm,computed_region_my34_vmp8,computed_region_w4hf_t6bp
0,63bdff5fc5f54698ce8a386d,KC20007843,2020-01-31T00:00:00.000,19:22,2020-01-31T00:00:00.000,15:00,Stealing from Auto (Theft from Auto),23F,Theft From Motor Vehicle,313,...,False,2020-01-31T00:00:00.000,19:00,NaN,19,NaN,NaN,NaN,NaN,NaN
1,63bdff5fc5f54698ce8a3866,KC20009823,2020-02-07T00:00:00.000,18:30,2020-02-07T00:00:00.000,18:01,Robbery (Armed Street),120,Robbery,542,...,True,NaN,NaN,PJ6554,NaN,NaN,NaN,NaN,NaN,NaN
2,63bdff5fc5f54698ce8a3868,KC20014727,2020-02-27T00:00:00.000,08:30,2020-01-12T00:00:00.000,16:35,Miscellaneous Investigation,NaN,NaN,344,...,False,NaN,NaN,PJ3281,38,NaN,NaN,NaN,NaN,NaN
3,63bdff5fc5f54698ce8a3874,KC20014030,2020-02-24T00:00:00.000,16:28,2020-02-24T00:00:00.000,16:15,Trespass of Real Property,90J,Trespass of Real Property,345,...,False,NaN,NaN,PJ3601,26,NaN,NaN,NaN,NaN,NaN
4,63bdff5fc5f54698ce8a3897,KC20007775,2020-01-31T00:00:00.000,14:28,2020-01-31T00:00:00.000,14:20,Possession of Stolen Property,NaN,NaN,241,...,False,2020-01-31T00:00:00.000,15:00,PJ5075,22,NaN,NaN,NaN,NaN,NaN

In [21]:
df_21.head()

,_id,report_no,report_date,report_time,from_date,from_time,offense,ibrs,description,beat,...,firearmused_flag,age,age_range,to_date,to_time,location,:@computed_region_9t2m_phkm,:@computed_region_my34_vmp8,:@computed_region_w4hf_t6bp,:@computed_region_kk66_ngf4
0,63be049eeb7214537b1a4e94,KC21007968,2021-02-05T01:02:22.000,01:02,2021-02-05T01:00:00.000,01:00,Miscellaneous Investigation,NaN,NaN,544,...,False,36,35-44,NaN,NaN,"{'type': 'Point', 'coordinates': [-94.475406, ...",2,7,143,195
1,63be049eeb7214537b1a4e83,KC21005420,2021-01-25T11:18:00.000,11:18,2021-01-25T11:00:00.000,11:00,Recovered Stolen Auto,NaN,NaN,113,...,False,20,18-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,63be049eeb7214537b1a4e82,KC21017210,2021-03-17T15:46:42.000,15:46,2021-03-17T15:35:00.000,15:35,Assault (Aggravated),13A,Aggravated Assault,631,...,True,33,25-34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,63be049eeb7214537b1a4e9d,KC21013729,2021-03-02T08:43:36.000,08:43,2021-03-01T21:30:00.000,21:30,Stealing from Auto (Theft from Auto),23F,Theft From Motor Vehicle,423,...,False,NaN,NaN,2021-03-02T06:00:00.000,06:00,NaN,NaN,NaN,NaN,NaN
4,63be049eeb7214537b1a4e95,KC21010718,2021-02-17T00:06:14.000,00:06,2021-02-17T00:04:00.000,00:04,Murder,09A,Murder,543,...,True,30,25-34,NaN,NaN,"{'type': 'Point', 'coordinates': [-94.498365, ...",1,7,143,190

In [22]:
df_22.head()

,_id,report_no,report_date,report_time,from_date,from_time,to_date,to_time,offense,ibrs,...,race,sex,age,firearmusedflag,location,age_range,:@computed_region_kk66_ngf4,:@computed_region_9t2m_phkm,:@computed_region_my34_vmp8,:@computed_region_w4hf_t6bp
0,63be0519eb7214537b1bb661,KC22000585,2022-01-03T19:09:00.000,19:09,2022-01-03T19:09:00.000,19:09,2022-01-03T19:09:00.000,NaN,Miscellaneous Investigation,NaN,...,B,F,NaN,False,"{'type': 'Point', 'coordinates': [-94.57902, 3...",NaN,97,4,7,92
1,63be0519eb7214537b1bb677,KC22004485,2022-01-21T21:30:00.000,21:32,2022-01-21T21:30:00.000,21:30,2022-01-21T21:30:00.000,NaN,Assault (Aggravated),13A,...,B,F,NaN,True,"{'type': 'Point', 'coordinates': [-94.56952, 3...",NaN,205,2,7,163
2,63be0519eb7214537b1bb664,KC22000883,2021-12-27T12:07:00.000,11:18,2021-12-27T12:07:00.000,12:07,2021-12-27T12:07:00.000,12:09,Stealing - Shoplift,23C,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN
3,63be0519eb7214537b1bb66d,KC22002319,2022-01-11T22:39:00.000,22:39,2022-01-11T22:39:00.000,22:39,2022-01-11T22:39:00.000,NaN,Eluding / Resisting a Lawful Stop,NaN,...,B,M,29,False,"{'type': 'Point', 'coordinates': [-94.57474, 3...",25-34,235,4,7,165
4,63be0519eb7214537b1bb672,KC22003209,2022-01-15T23:01:00.000,23:01,2022-01-15T23:01:00.000,23:01,2022-01-15T23:01:00.000,NaN,Stealing - Shoplift,23C,...,NaN,NaN,NaN,False,"{'type': 'Point', 'coordinates': [-94.59069, 3...",NaN,32,4,7,50

In [23]:
df_18_copy=df_18.copy()

In [6]:
df_18.reported_time= df_18.reported_time.replace({'24:00':'00:00'}) 
df_18.from_time= df_18.from_time.replace({'24:00':'00:00'}) 
df_18.to_time= df_18.to_time.replace({'24:00':'00:00'}) 
df_18.beat=df_18.beat.fillna(np.nan)

#### Specifying Categorical and Numerical Columns

In [25]:
df_18.columns

Index(['_id', 'report_no', 'reported_date', 'reported_time', 'from_date',
       'from_time', 'to_date', 'to_time', 'offense', 'ibrs', 'description',
       'beat', 'address', 'city', 'zip_code', 'rep_dist', 'area', 'dvflag',
       'invl_no', 'involvement', 'firearm_used_flag', 'location', 'race',
       'sex', 'age', 'computed_region_kk66_ngf4', 'computed_region_9t2m_phkm',
       'computed_region_my34_vmp8', 'computed_region_w4hf_t6bp'],
      dtype='object')

In [29]:
date_cols=['reported_date', 'reported_time', 'from_date','from_time', 'to_date', 'to_time']
cat_cols=['offense', 'ibrs', 'beat', 'zip_code', 'rep_dist', 'area','dvflag','invl_no','involvement','race','sex','computed_region_kk66_ngf4','computed_region_9t2m_phkm','computed_region_my34_vmp8','computed_region_w4hf_t6bp']
num_cols=['report_no','age']

In [30]:
for i in df_18.columns:
    if (i in date_cols) or (i in cat_cols) or (i in num_cols) :
        pass
    else:
        print("*****",i)

***** _id
***** description
***** address
***** city
***** firearm_used_flag
***** location

#### Assign appropriate datatype

In [7]:
df_18.report_no=df_18.report_no.astype(int)
df_18.reported_date=pd.to_datetime(df_18.reported_date)
df_18.reported_time = pd.to_datetime(df_18.reported_time, format='%H:%M').dt.time
df_18.from_date=pd.to_datetime(df_18.from_date)
df_18.from_time = pd.to_datetime(df_18.from_time, format='%H:%M').dt.time
df_18.to_date=pd.to_datetime(df_18.to_date)
df_18.to_time = pd.to_datetime(df_18.to_time, format='%H:%M').dt.time
df_18.offense=df_18.offense.astype(int)
df_18.beat=df_18.beat.astype(float)
df_18.invl_no=df_18.invl_no.astype(float)
df_18.age=df_18.age.astype(float)
df_18.computed_region_kk66_ngf4=df_18.computed_region_kk66_ngf4.astype(float)
df_18.computed_region_kk66_ngf4=df_18.computed_region_kk66_ngf4.astype(float)
df_18.computed_region_kk66_ngf4=df_18.computed_region_kk66_ngf4.astype(float)
df_18.computed_region_kk66_ngf4=df_18.computed_region_kk66_ngf4.astype(float)

In [ ]:
df_18.info(verbose=True, null_counts=True)

In [27]:
df_18.dtypes.to_frame()

                                        0
_id                                object
report_no                           int32
reported_date              datetime64[ns]
reported_time                      object
from_date                  datetime64[ns]
from_time                          object
to_date                    datetime64[ns]
to_time                            object
offense                             int32
ibrs                               object
description                        object
beat                              float64
address                            object
city                               object
zip_code                           object
rep_dist                           object
area                               object
dvflag                             object
invl_no                           float64
involvement                        object
firearm_used_flag                  object
location                           object
race                               object
sex                                object
age                               float64
computed_region_kk66_ngf4         float64
computed_region_9t2m_phkm          object
computed_region_my34_vmp8          object
computed_region_w4hf_t6bp          object

#### Descriptive Data Analysis

In [8]:
df_18.describe().T

,count,mean,std,min,25%,50%,75%,max
report_no,128938.0,1.800333e+08,755286.315434,50026148.0,180026000.0,180050470.5,180075170.0,189936611.0
offense,128938.0,1.006383e+03,649.285439,101.0,640.0,702.0,1401.0,3079.0
beat,127514.0,3.231242e+02,196.954451,5.0,144.0,314.0,421.0,9999.0
invl_no,128938.0,1.262452e+00,1.266882,1.0,1.0,1.0,1.0,57.0
age,70043.0,3.768515e+01,15.157687,18.0,26.0,34.0,47.0,506.0
computed_region_kk66_ngf4,91752.0,1.231371e+02,76.979209,1.0,51.0,127.0,192.0,246.0

#### Detecting and Plotting NaN values

In [ ]:
df_18.h

#### Plotting Numerical Columns